
<%# DEFAULT HOME %>
<div class="row">
  <div class="col offset-l2 l7 m8 s12">
    <div class="landing-title">

      <%= image_tag("heptagon_blue.svg", size: "200", class: 'title-heptagon') %>
      <h1>
        <span> open science </span>
      </h1>

      <h3 class="color1 strong">open access scientific revue</h3>

      <h4 class="text-grey darken-3 strong">free publishing for researchers</h4>
      <h4 class="text-grey darken-3">free reading for the public</h4>
      <h3 class="color2 strong">community based peer review</h3>

    </div>
  </div>

  <div class="col m2 s12">

    <div class="center-align" style="text-align: center; padding-top: 3em;">
      <%= link_to "Log in", login_path, class: 'btn-large color1bg' %>
      <p>or</p>
      <%= link_to "Sign up", signup_path, class: 'btn-large color2bg' %>
    </div>

  </div>
</div>


<div class="row landing-text">

  <div class="background-paral"></div>

  <div class="col m4">
    We allow researcher to publish freely, as we believe good science should be made available without fees.
  </div>
  <div class="col m4">
    We guarantee a quality of work and conflict-free reviews, by a community based peer reviewed, automation to help the process, while helping respecting the anonymysity but promoting transparence during the process.
  </div>
  <div class="col m4">
    The public is allowed to access the works as they are foundation of our society blabla bla.
  </div>
</div>
