<div class="landing-text">

  <div class="row">
    <div class="col s8 offset-s2">
      <h1>open science</h1>
    </div>
    <div class="col s8 offset-s2">
      <h3 class="color1">open access scientific revue</h3>
    </div>
  </div>

  <div class="row">
    <div class="col s8">
      <h4 class="text-grey darken-3">free publishing for researchers</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s4">
      <h4 class="text-grey darken-3">free reading for the public</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s8 offset-s2">
      <h3 class="color2">community based peer review</h3>
    </div>
    <%#= image_tag("OpenAccess_black.svg", size: "60x100") %>
  </div>

</div>

<div class="divider"></div>

<div class="row">
  <div class="col s4">
    We allow researcher to publish freely, as we believe good science should be made available without fees.
  </div>
  <div class="col s4">
    We guarantee a quality of work and conflict-free reviews, by a community based peer reviewed, automation to help the process, while helping respecting the anonymysity but promoting transparence during the process.
  </div>
  <div class="col s4">
    The public is allowed to access the works as they are foundation of our society blabla bla.
  </div>
</div>

<div class="divider"></div>

<div class="center-align">

  <%= link_to "Log in", login_path, class: 'btn-large color1bg' %>
  &nbsp; or &nbsp;
  <%= link_to "Sign up", signup_path, class: 'btn-large color2bg' %>


</div>
