<% provide(:title, "About") %>

<h1>About</h1>
<p>Scientific publications in open-access</p>

<h3>Functionalities</h3>
<ul class="collection">
    <li>Automatization of peer review process, to allow a scientific journal to be open-access.</li>
</ul>

<h3>Workflow</h3>
<ul class="collection">
    <li>Researchers can submit their papers</li>
    <li>Editors propose to associate the paper with 2 or 3 researchers for peer review</li>
    <li>During the review process, the article is shown as 'in preparation' and can't be read</li>
    <li>The reviews are compared, then the article can be accepted or rejected.</li>
    <li>If the peer reviews are okay, the submitter can read the reviews and correct the article</li>
    <li>After validation of the corrections, the article is published</li>
</ul>



<h3> todo </h3>
<ul class="collection">
  <li>user login</li>
  <li>as editor, ask for review</li>
  <li>as reviewer, signal review done</li>
  <li>git</li>
  <li></li>
  <!--
  <li></li>
  -->
</ul>


<h3>Links</h3>
<div class="collection">
  <a class="collection-item" href="https://doaj.org/">Directory of Open Access Journals (DOAJ)</a>
  <a class="collection-item" href="https://hal.archives-ouvertes.fr/">HAL</a>
  <a class="collection-item" href="https://arxiv.org/">Arxiv</a>
  <!--
  <a class="collection-item" href=""></a>
  -->
</div>
