<% provide(:title, "Public reading lists") %>



<h1>Public reading lists</h1>

<% if @reading_lists.count == 0 %>
  No reading list yet ! Create one ?
<%#  elsif @reading_lists.count == 1 %>
  <%#=  render 'papers/partials/paper_list', :papers => @reading_lists %>
<% else # many reading list %>
  <%= render 'reading_lists/partials/public_reading_lists', :reading_lists => @reading_lists %>
<% end %>

<br>
