<% provide(:title, "#{@reading_list.name} | Reading list") %>

<p id="notice"><%= notice %></p>

<%= render 'papers/partials/paper_list', :papers => @papers %>

<p>
  <%= link_to 'rename / change status', edit_reading_list_path(@reading_list) %>
</p>

<p>
</p>
