<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reading_list_folder.name %>
</p>

<%= link_to 'Edit', edit_reading_list_folder_path(@reading_list_folder) %> |
<%= link_to 'Back', reading_list_folders_path %>
