<% provide(:title, "Edit your password" ) %>

<h1>Edit your password</h1>

<%= render 'form_edit_password', person: @person %>

<%= link_to 'Cancel', @person, :class => "btn" %> |
<%#= link_to 'Back', people_path, :class => "btn" %>
