  A good password is most often a passphrase.

  Better have 20 charaters-long from a 24 set, than an 8 charaters-long from a 70 set. Entropy stuff.

  8^70 < 25^24
  1.6^63 < 3.5^33 (oops contradicted)

  Here are some techniques to use passphrases:
  * choose four random words from <a href="">this site</a> or <a href="">this site</a>.
  * arrange them in a phrase so they make up a story.
  Easy to remember, hard to crack!

  Please remember that the quality of your password will also determine the secutiry of all the base.
  If the most common passwords are discovered, the encryption can be cracked ((well not true, but talk about it anyway))

  
