code {
    padding: .1em .5em;
    background: #ddd;
    border-radius: 3px;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2rem; }
h4 { font-size: 1.5rem; }

// @mixin box_sizing {
//   -moz-box-sizing:    border-box;
//   -webkit-box-sizing: border-box;
//   box-sizing:         border-box;
// }
// .debug_dump {
//   clear: both;
//   float: left;
//   width: 100%;
//   margin-top: 45px;
//   @include box_sizing;
//   background: #ddd;
// }

.button-stuff {
  border-radius: 2px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  letter-spacing: .5px;
  text-transform: uppercase;
  vertical-align: middle;
}

.flash, .notice-bg {
  @extend .button-stuff;
  margin-top: 10px;
  color: #fff;
  background-color: #aaa;
  &.error, &.danger { background-color: darken(#f50, 20%); }
  &.warning { background-color: darken(#fc0, 20%); }
  &.success { background-color: darken(#cf0, 20%); }
  &.info { background-color: darken(#0cf, 20%); }
}

.notice {
  @extend .button-stuff;
  margin-top: 10px;
  background-color: #eee;
  color: #777;
  &.error, &.danger { color: darken(#f50, 20%); }
  &.warning { color: darken(#fc0, 20%); }
  &.success { color: darken(#cf0, 20%); }
  &.info { color: darken(#0cf, 20%); }
}

ul.dropdown-content li span {
  color: rgba(0, 0, 0, 0.87);
  cursor: default;
  &:hover {
    background-color: initial;
  }
}
