/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "materialize/components/color";
$primary-color  : color("blue-grey", "darken-1") !default;
$secondary-color: #0b8668 !default;
@import "materialize";

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
html {
  font-family: 'Montserrat', Trebuchet, sans-serif;
}
h1 {
//, h2, h3, h4 {
  font-family: 'Montserrat Alternates';
}

body {
  background-color: #fefefe;
}
strong {
  font-weight: 800;
}
ul.collection li { @extend .collection-item; }

// won't work, need JS
// try to get waves effect on all buttons...
// .btn { @extend .waves-effect; }
// .btn-flat { @extend .waves-effect; }
// // try to get icons without having to add class...
// .i { @extend i.material-icons; }


// COLORS
.color1bg { background-color: #0b8668; }
.color1 { color: #0b8668; }
.color2bg { background-color: #c68d00; }
.color2 { color: #c68d00; }
.color3bg { background-color: #546e7a; }
.color3 { color: #546e7a; }

.btn-flat.visible { background-color: #eee; }

// ETC
div.divider {
  margin: 10px 0;
}
// MAIN
main.container {
  margin-top: 10px;
}

// FOOTER
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  &.page-footer {
    padding-top: 0;
  }
  .row {
    margin-bottom: 0;
  }
  a {
    font-weight: 100;
    padding-right: 5px;
    &:after {
      margin-left: 10px;
      content: '/';
    }
    &:last-child:after {
      content : ''
    }
  }
}
