// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

span.big-categories {
    font-size: 4em;
    margin: 1em;
    a {
        color: teal;
        &:hover {
            color: darken(lime, 20%);
        }
    }
}
