// Place all the styles related to the Papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#abstract {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.8em;
  color: $primary-color;
}

span.small-title {
  font-weight: 800;
  color: $primary-color;
}
