<p id="notice"><%= notice %></p>


    <% @categories.each do |category| %>
    <span class="big-categories">
        <%= link_to category.name, category %>
    </span>
    <% end %>

<br>

<%= link_to 'Add a Category',
    new_category_path,
    class: 'btn' %>
