<p id="notice"><%= notice %></p>


    <% @categories.each do |category| %>
        <%= link_to category.name,
            category,
            class: 'btn-large blue-grey ' %>
    <% end %>

<br>

<% if logged_in? && current_user.is_admin? %>
<div class="divider"> </div>
<%= link_to 'Add a Category',
    new_category_path,
    class: 'btn' %>
<% end %>
