<%# inserted from papers/show %>

<h3>Ask for reviews</h3>

The paper has currently <%= @paper.count_reviews %> reviews.

<%= form_for Review.new,
     :url => reviews_path(@paper.id) do |f| %>

<div class="row">

  <div class="col m5">
    <label for="review_remarks">Remarks (optional)</label>
    <textarea class="materialize-textarea" id="review_remarks" type="text" name="review[editor_remarks]"></textarea>
  </div>

  <div class="col m7">
    <label for="review_reviewers">Reviewers</label>
    <select id="review_reviewers" name="review[reviewers][]" multiple>
        <option disabled selected>Please choose</option>
      <% get_possible_reviewers_for(@paper).each do |person| %>
      <option value="<%= person.id %>"><%= person.full_name %></option>
      <% end %>
    </select>
  </div>
</div>
<div class="row">
  <div class="col m12">
    <button class="btn color2bg" type="submit" name="action">
      Send review applications <i class="material-icons right">send</i>
    </button>
  </div>
</div>


<% end %>

<div class="divider"></div>
