<%# See all reviews for paper %>
<p id="notice"><%= notice %></p>

<h1>Reviews for «<%= @paper.title %> »</h1>


<%= render 'reviews/partials/review_list', :reviews => @reviews, :from => 'paper' %>


<%= link_to "Back to paper",
    paper_path(@paper),
    class: "btn" %>
