<% provide(:title, "Reviews / « #{@paper.title} »") %>


<%# See all reviews for paper %>
<p id="notice"><%= notice %></p>

<h1>Reviews for «<%= @paper.title %> »</h1>

<a title="TODO" class="btn disabled">Compare the changes</a>


<%= render 'reviews/partials/review_list_details', :reviews => @reviews %>


<%= link_to "Back to paper",
    paper_path(@paper),
    class: "btn" %>
