<a href="/" class="brand-logo">
  <%#= image_tag("heptagon_white.svg", size: "40") %>
  <span class="title">
    <!-- Open Science -->
  </span>
</a>

<a href="#" data-activates="nav-mobile" class="button-collapse">
  <i class="material-icons">menu</i>
</a>
