 <footer class="page-footer">

  <div class="container">
    <div class="row">
      <div class="col s6">
        <p class="grey-text text-lighten-4">open science / CC BY SA 2016</p>
      </div>
      <div class="col s6 right">
        <p>
          <a class="grey-text text-lighten-3" href="<%= about_path %>">help</a>
          <a class="grey-text text-lighten-3" href="<%= contact_path %>">contact</a>
          <a class="grey-text text-lighten-3" href="#no_just_kidding">we’re hiring!</a>
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="footer-copyright">
    <div class="container">
    CC BY SA 2016
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    <a class="grey-text text-lighten-3" href="<%= contact_path %>">contact</a>
    </div>
  </div> -->
</footer>
